// Sizes
$header: 4rem;
$title: 3rem;
$subtitle: 1.8rem;
$text: 1.5rem;
$text-card: 1.2rem;

// Colors
$primary: #00AFF1;
$second: #F2F5FA;
$light: #f2f6fa;

//Fonts
$regular: 400;
$medium: 500;
$bold: 700;
